* {

    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    grid-template-rows: repeat(1, 250px);
    grid-template-columns: repeat(1, 1300px);
    display: grid;
}
header img{
height: 340px;
width: 1349px;

}
header h1{
margin-top: -180px;
color: rgb(255, 255, 255);
text-shadow: 2px 5px 4px black;
margin-left: 550px;
font-size: 70px;
}

header ul{
height: 40px;
width: 1349px;
background-color: rgb(0, 139, 42);
float: left;
text-align: center;
margin-top: -30px;
}
header li{
float: left;
text-align: center;
text-decoration-line: none; 
list-style: none;
text-decoration: none;
margin-top: 4px;

}
header a{
float: left;
text-align: center;
font-size: 26px;
margin-left: 90px;
text-decoration: none;
list-style: none;
color: white;
text-shadow: 2px 2px black;
}
main{
    background-color: brown;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(1,720px);

    display: grid;
}

.article{
    background-color: blue;
 height: 720px;
 width: 950px;

}

.aside{
    background-color: blueviolet;
    height: 720px;
    width: 420px;
    margin-left: 929px;
    margin-top: -720px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(1,1300px);
    grid-template-rows: repeat(1,60px);
    background-color: chartreuse;
}

.decima{
    display: grid;
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 910px;
    margin-top: 40px;
}

.debaixo1{
    display: grid;
    background-color: rgb(245, 188, 0);
    height: 300px;
    width: 430px;
    margin-top: 40px;
}

.debaixo2{
    display: grid;
    background-color: rgb(0, 132, 255);
    height: 300px;
    width: 430px;
    margin-left: 480px;
    margin-top: -300px;
}