* {

    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    grid-template-rows: repeat(1, 250px);
    grid-template-columns: repeat(1, 1300px);

    display: grid;
}

main{
    background-color: brown;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(1,720px);

    display: grid;
}

.article{
    background-color: blue;
 height: 720px;
 width: 950px;

}

.aside{
    background-color: blueviolet;
    height: 720px;
    width: 420px;
    margin-left: 929px;
    margin-top: -720px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(1,1300px);
    grid-template-rows: repeat(1,60px);
    background-color: chartreuse;
}

.decima{
    display: grid;
    background-color: rgb(66, 61, 61);
    height: 300px;
    width: 910px;
    margin-top: 40px;
    font-size: 200px;
 font-style: normal;
 color: rgb(255, 255, 255);
 font-size: medium;
 font-style: normal;
 color: white;
 font-size: medium;
 font-style: normal;
 color: white;
  

}
.decima button{
height: 28px;
width: 68px;
margin-left: 820px;
margin-top:-55px ;
}
.tudosobre{
margin-left: 350px;
margin-top: -200px;
font-size: 23px;

}
.destaques{
    background-color: rgb(32, 32, 32);
    padding: 16px;
    font-size: 27px;
   
}
.decima .destaquesletra{
    font-size: 27px;
margin-top: -36px;
margin-left: 36px;
}
.decima p{
    margin-left: 350px;
    margin-top: -180px;
    font-size: 17px;
    
}


.debaixo1{
    display: grid;
    background-color: rgb(51, 51, 51);
    height: 300px;
    width: 430px;
    margin-top: 40px;
}
.debaixo1 button{
height: 28px;
width: 68px;
margin-left: 337px;
margin-top:-50px ;
}

.debaixo1 ul{
    margin-left: 20px;
    list-style: none;
}

.debaixo2{
    display: grid;
    background-color: rgb(0, 132, 255);
    height: 300px;
    width: 430px;
    margin-left: 480px;
    margin-top: -300px;
}
.decima img{
    height: 212px;
    width: auto;
}
 .debaixo1{
font-size: large;
font-style: normal;
color: white;
text-shadow: 2px 2px black;

 }
 .maisjogados{
    font-size: 25px;
    background-color: rgb(17, 17, 17);
    height: 40px;
 }
 .maisjogadosaparecendo{
color: white;
margin-top: -43px;
font-size: 25px;
margin-left: 20px;
 }
 
 .debaixo2{
    font-size: large;
    font-style: normal;
    color: white;
    background-color: rgb(51, 51, 51);
 }
 
 .debaixo2 ul{
    list-style: none;
 }