* {

    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    grid-template-rows: repeat(1, 250px);
    grid-template-columns: repeat(1, 1300px);
    display: grid;
}
header img{
height: 320px;
width: 1349px;

}
header h1{
margin-top: -250px;
color: rgb(0, 0, 0);
}

main{
    background-color: brown;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(1,720px);

    display: grid;
}

.article{
    background-color: blue;
 height: 720px;
 width: 950px;

}

.aside{
    background-color: blueviolet;
    height: 720px;
    width: 420px;
    margin-left: 929px;
    margin-top: -720px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(1,1300px);
    grid-template-rows: repeat(1,60px);
    background-color: chartreuse;
}

.decima{
    display: grid;
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 910px;
    margin-top: 40px;
}

.debaixo1{
    display: grid;
    background-color: rgb(245, 188, 0);
    height: 300px;
    width: 430px;
    margin-top: 40px;
}

.debaixo2{
    display: grid;
    background-color: rgb(0, 132, 255);
    height: 300px;
    width: 430px;
    margin-left: 480px;
    margin-top: -300px;
}